<footer class="footer_area">
  <div class="container">
    <div class="footer-content">
      <div class="footer-col footer-logo-col">
        <a routerLink="/home">
          <span class="footer-logo-text">AUREXIA<span class="logo-accent">.</span></span>
        </a>
        <p class="footer-tagline">{{ translation.t('footer.tagline') }}</p>
        <p class="copyright">{{ translation.t('footer.copyright') }}</p>
      </div>

      <div class="footer-col">
        <h4 class="footer-col-title">{{ translation.t('footer.explore') }}</h4>
        <ul class="footer-links">
          <li><a [routerLink]="['/portfolio']">{{ translation.t('footer.menu.portfolio') }}</a></li>
          <li><a [routerLink]="['/destinations']">{{ translation.t('footer.menu.destinations') }}</a></li>
          <li><a [routerLink]="['/service-model']">{{ translation.t('footer.menu.serviceModel') }}</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4 class="footer-col-title">{{ translation.t('footer.company') }}</h4>
        <ul class="footer-links">
          <li><a [routerLink]="['/developer-partnership']">{{ translation.t('footer.menu.forDevelopers') }}</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4 class="footer-col-title">{{ translation.t('footer.legal') }}</h4>
        <ul class="footer-links">
          <li><a [routerLink]="['/privacy-policy']">{{ translation.t('footer.menu.privacy') }}</a></li>
          <li><a [routerLink]="['/cookie-policy']">{{ translation.t('footer.menu.cookies') }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-social-col">
        <div class="footer-social-icons">
          <a href="https://facebook.com" aria-label="Facebook"><i class="f_Icon fa-brands fa-facebook-f"></i></a>
          <a href="https://instagram.com" aria-label="Instagram"><i class="f_Icon fa-brands fa-instagram"></i></a>
          <a href="https://linkedin.com" aria-label="LinkedIn"><i class="f_Icon fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>