<!-- Generic Platform Page Component -->
<!-- Start : Platform hero area -->
<section #heroSection 
  [class]="(pageData && pageData.heroClass) || 'default-hero'"
  [style.background-image]="(pageData && pageData.bgImageUrl) ? 'url(' + pageData.bgImageUrl + ')' : ''"
  [style.--overlay-right]="overlayRightPosition">
  <h1 #heroTitle class="title fade-in">{{ pageData?.heroTitle || '' }}</h1>
  <div class="hero-overlay"></div>
</section>
<!-- End : Platform hero area-->

<!-- Platform Content -->
<div [class]="(pageData && pageData.containerClass) || 'default-container'" *ngIf="pageData">
  <app-platform-features [title]="pageData.title" [subtitle]="pageData.subtitle" [features]="pageData.features"
    [readMoreText]="pageData.readMoreText">
  </app-platform-features>
</div>

<!-- Call to Action Section -->
<app-cta></app-cta>