<section class="testimonial-section" id="purpose">
    <div class="testimonial-container-background">
        <div class="testimonial-background-left"></div>
        <div class="testimonial-background-right" 
             [style.background-image]="purposeContent?.imageUrl ? 'url(\'' + purposeContent?.imageUrl + '\')' : undefined"></div>
    </div>

    <div class="testimonial-container-content">
        <div class="testimonial-quote-block">
            <!-- Loading skeleton -->
            <div *ngIf="isLoading" class="skeleton-loader">
                <div class="skeleton-title"></div>
                <div class="skeleton-subtitle"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text"></div>
            </div>

            <!-- Content -->
            <div *ngIf="!isLoading && purposeContent" class="fade-in-left">
                <div>
                    <h2 class="title">{{ purposeContent.purposeTitle }}</h2>
                    <h3>&nbsp;</h3>
                    <h5 class="description">{{ purposeContent.purposeDescription }}</h5>
                    <p>&nbsp;</p>
                    <p><span>{{ purposeContent.purposeText }}</span></p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>

        <div class="testimonial-author-block">
        </div>
    </div>
</section>